In [17]:
import pandas as pd
from sqlalchemy import create_engine
from config import password
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
weather_file = "Resources/weather.csv"
weather_df = pd.read_csv(weather_file)
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [6]:
weather_clean_df = weather_df[['Date', 'Max_Temperature_F','Mean_Temperature_F','Min_TemperatureF','Max_Humidity','Mean_Humidity','Min_Humidity',
                               'Max_Wind_Speed_MPH','Mean_Wind_Speed_MPH','Max_Gust_Speed_MPH','Events']]
weather_clean_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Events
0,10/13/2014,71,62.0,54,87,68,46,13,4,21,Rain
1,10/14/2014,63,59.0,55,88,78,63,10,5,17,Rain
2,10/15/2014,62,58.0,54,87,77,67,18,7,25,Rain
3,10/16/2014,71,61.0,52,83,61,36,9,4,-,Rain
4,10/17/2014,64,60.0,57,87,72,46,8,3,-,Rain

In [8]:
trip_file = "Resources/trip.csv"
trip_df = pd.read_csv(trip_file,error_bad_lines=False)
trip_df.head()

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [10]:
station_file = "Resources/station.csv"
station_df = pd.read_csv(station_file)
station_df.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [22]:
connection_string = "root:{password}@Local Host/bikeshare_db"
engine = create_engine(f'mysql://{connection_string}')

In [23]:
engine.table_names()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'Local\\\\Host' ([Errno 11001] getaddrinfo failed)") (Background on this error at: http://sqlalche.me/e/e3q8)